.header {
  background-color: #f57842;
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  height: rem(84px);
  margin-bottom: rem(20px);
}

.logo {
  color: var(--mantine-color-white);
  text-decoration: none;
}

.mainSection {
  padding-bottom: var(--mantine-spacing-sm);
}

.links {
  padding-top: var(--mantine-spacing-lg);
  height: rem(84px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainLinks {
  margin-right: calc(var(--mantine-spacing-sm) * -1);
}

.mainLink {
  color: var(--mantine-color-white);
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  padding: rem(7px) var(--mantine-spacing-sm);
  font-weight: 700;
  border-bottom: rem(2px) solid transparent;
  transition:
    border-color 100ms ease,
    color 100ms ease;
  text-decoration: none;

  &[data-active] {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-bottom-color: var(--mantine-color-blue-6);
  }
}

.secondaryLink {
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-xs);
  text-transform: uppercase;
  transition: color 100ms ease;
  text-decoration: none;
}

.user {
  background-color: #333333;
  color: white;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: #666666;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}
